@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="text"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 4px;
  width: 100%;


}
input[type="checkbox"] {
  cursor: pointer;
  vertical-align: middle;
  margin-right: 10px;
}

input:focus {
  outline: none;
}
input:focus-visible {
  outline: 1px solid #000;
}